#video-container {
  height: 100%;
  width: 100%;
  position: relative;
  /* top: 0px; */
  outline: none;
}

#video-player {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
}

#video-player:hover + #video-controls {
  opacity: 1;
}

#video-player + #video-controls .video-control {
  opacity: 0;
  transition: opacity 600ms linear;
}

#video-player + #video-controls .video-button:last-child {
  opacity: 1;
}

#video-container:hover #video-controls .video-control,
#video-container:hover #video-controls .video-controls-background {
  /* opacity: 1; */
}

#video-controls .video-control {
  z-index: 2;
}

#video-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  /* z-index: 10; */
  color: white;

  z-index: 20;
}

/* #giant-container {
  position: absolute;
  bottom: 250px;
  left: 400px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: red;
} */

#video-controls .video-controls-background {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  transition: opacity 600ms linear;
  opacity: 0;
}

.every-button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.sound-button {
  cursor: default;
}

.sound {
  color: black !important;
  opacity: 1 !important;
  z-index: 2;
  cursor: not-allowed;
}

.logo-video {
  color: var(--logo-color) !important;
  cursor: crosshair;
}

.logo-attr {
  color: white;
  outline: none;
  border: none;
  padding: 0px;
  background: none;
}

.slider-input {
  width: 80%;
}

.cog-container {
  position: relative;
}

.cog-info {
  background-color: white;
  position: absolute;
  bottom: 35px;
  right: -20px;
  padding: 5px;
  color: black;
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 700;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95px;
  height: 50px;
  text-transform: uppercase;
}

.cog-info span:first-child {
  cursor: not-allowed;
}

.cog-info span:last-child {
  cursor: pointer;
}

.cog-pointer {
  position: absolute;
  /* background-color: white; */
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  bottom: 29px;
  right: 16px;
}

#giant-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
}

.giant-container {
  position: relative;
  z-index: 10;
}

#giant-circle {
  background-color: rgba(47, 50, 51, 0.6);
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  left: -41px;
  bottom: -40px;
  position: absolute;
}

#giant-play-button {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 3rem solid rgba(234, 236, 236, 1);
  border-radius: 4%;
  bottom: -20px;
  left: -5px;
}

@media only screen and (max-width: 700px) {
  #giant-play-button {
    border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
    border-left: 2rem solid rgba(234, 236, 236, 1);
  }
  #giant-circle {
    width: 4.2rem;
    height: 4.2rem;
    left: -27.5px;
    bottom: -33px;
  }
}
