.aside-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
}

aside.public-info {
  width: 25vw;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  box-shadow: var(--box-shadow-display);
}

aside.public-info:hover {
  box-shadow: var(--box-shadow-hover);
}

.dark-div {
  background-color: rgb(55, 60, 63);
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* dark div container for About Community */

.dark-div h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0 10px;
}

.dot-container {
  display: flex;
  gap: 0.1rem;
  padding: 0 10px;
}

.white-dot {
  background-color: white;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
}

.pub-info {
  padding: 10px;
  font-size: 0.9rem;
}

.pub-info:hover {
  font-weight: 700;
}

.total-subs {
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 700;
}

.total-subs:hover {
  font-size: 1.1rem;
}

.list-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--nice-background-color);
  box-shadow: var(--box-shadow-display);
  height: 600px;
  overflow-y: scroll;
  position: sticky;
  top: 90px;
}

.list-all:hover {
  box-shadow: var(--box-shadow-hover);
}

#aside-title {
  background-color: rgb(55, 60, 63);
  padding: 10px;
}

.aside-title {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0 10px;
  text-align: center;
}

.article-map {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  position: relative;
}

.article-background {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(to top, rgba(173, 216, 230, 1), transparent);
  transition: opacity 600ms linear;
  opacity: 0.1;
}

.list-prefix,
.list-icon-container {
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.article-map:last-child {
  border-bottom: none;
}

.list-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
}

.list-icon-container img {
  border-radius: 50%;
}

.list-iconImg {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 780px) {
  .aside-container {
    display: none;
  }
}
