aside.public-info {
  width: 300px;
  /* height: 400px; */
  /* padding: 0 20px; */
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* align-content: space-around; */
}

.dark-div {
  background-color: rgb(55, 60, 63);
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* dark div container for About Community */

.dark-div h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0 10px;
}

.dot-container {
  display: flex;
  gap: 0.1rem;
  padding: 0 10px;
}

.white-dot {
  background-color: white;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
}

/*  bit below this */

.pub-info {
  padding: 10px;
  font-size: 0.9rem;
}

.pub-info:hover {
  font-size: 1.3rem;
  font-weight: 700;
}

.total-subs {
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 700;
}

.total-subs:hover {
  font-size: 1.1rem;
}
