.aside-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: sticky;
  top: 90px;
}

aside.public-info {
  width: 25vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
}

.dark-div {
  background-color: rgb(55, 60, 63);
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* dark div container for About Community */

.dark-div h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0 10px;
}

.dot-container {
  display: flex;
  gap: 0.1rem;
  padding: 0 10px;
}

.white-dot {
  background-color: white;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
}

.pub-info {
  padding: 10px;
  font-size: 0.9rem;
}

.pub-info:hover {
  font-size: 1.3rem;
  font-weight: 700;
}

.total-subs {
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 700;
}

.total-subs:hover {
  font-size: 1.1rem;
}

.list-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--nice-background-color);
  border: 2px solid black;
  height: 450px;
  overflow-y: scroll;
}

#aside-title {
  background-color: rgb(55, 60, 63);
  padding: 10px;
}

.aside-title {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0 10px;
  text-align: center;
}

.article-map {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 2px solid black;
  padding: 10px;
}

.article-map:last-child {
  border-bottom: none;
}

.list-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
}

.list-icon-container img {
  border-radius: 50%;
}

.list-iconImg {
  width: 100%;
  height: 100%;
}
