@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");

:root {
  --white: rgb(255, 255, 255);
  --text-color: rgb(28, 28, 28);
  --nice-background-color: rgb(246, 247, 248);
  --card-background: rgb(252, 252, 252);
  --logo-color: rgb(255, 69, 0);
  --box-shadow-display: 0 10px 15px -3px rgba(63, 15, 15, 0.6);
  --box-shadow-hover: 0 10px 15px -3px rgba(63, 15, 15, 1);
  --reply-border: 2px solid rgb(211, 211, 211);
}

body {
  background-color: rgb(218, 224, 230);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  /* background: no-repeat center center fixed; */
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  background-attachment: fixed;
  /* position: fixed; */
  /* height: 100vh; */
  /* z-index: 10; */
}
