@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");

:root {
  --white: rgb(255, 255, 255);
  --text-color: rgb(28, 28, 28);
  --nice-background-color: rgb(246, 247, 248);
}

body {
  background-color: rgb(218, 224, 230);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}
