body {
  overflow-x: hidden;
}

header {
  height: 80px;
  background-color: var(--white);
  position: fixed;
  top: 0vh;
  width: 100vw;
  z-index: 20;
  display: flex;
  /* gap: 20px; */
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.the-flex-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding-top: 80px;
}
