p,
span {
  line-height: 1.5;
  /* word-spacing: 5; */
}

.section-name {
  /* background-color: aqua; */
}

.reddit-div {
  /* position: relative; */
  /* top: 10vh; */
  margin: 20px auto;
  width: 30vw;
  border: 5px solid rgba(37, 34, 34, 0.8);
  border-radius: 20px;
}

.reddit-ul {
}

.reddit-li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows:
    1fr 1fr minmax(0.5fr 1fr) minmax(0.5fr 1fr) minmax(0.5fr 1fr)
    minmax(0.5fr 1fr) minmax(0.5fr 1fr) minmax(0.2fr, 0.4fr);
  grid-template-areas:
    "title title title title title title . subreddit"
    "title title title title title title . ."
    "img img img img img img img img"
    "img img img img img img img img"
    "img img img img img img img img"
    "img img img img img img img img"
    "img img img img img img img img"
    ". . . . . . . author";
  /* height: 50vh; */
}

.reddit-subreddit {
  grid-area: subreddit;
}

.reddit-title {
  grid-area: title;
}

.reddit-img-container {
  grid-area: img;
  /* background-color: red; */
  height: 50vh;
}

.reddit-img-container img {
  width: 100%;
  max-height: 100%;
  border-radius: 20px;
  object-fit: fill;
}

.reddit-author {
  grid-area: author;
  color: gold;
}

@media only screen and (max-width: 1020px) {
  .reddit-div {
    width: 50vh;
  }
}

@media only screen and (max-width: 700px) {
  .reddit-subreddit {
    display: none;
  }
}
