p,
span {
  line-height: 1.5;
  /* word-spacing: 5; */
}

.section-name {
  /* background-color: aqua; */
}
/* var(--nice-background-color); */
.reddit-div {
  position: relative;
  z-index: 10;
  /* top: 10vh; */
  background-color: var(--card-background);
  margin: 20px auto;
  width: 60vw;
  /* border: 5px solid rgba(37, 34, 34, 0.8); */
  /* border-radius: 20px; */
  box-shadow: var(--box-shadow-display);
}

.reddit-div:hover {
  box-shadow: var(--box-shadow-hover);
  border-radius: 0;
  /* padding: 10px; */
}

.reddit-ul {
}

.reddit-li {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows:
    1fr 1fr 1fr minmax(0.5fr 1fr) minmax(0.5fr 1fr) minmax(0.5fr 1fr)
    minmax(0.5fr 1fr) minmax(0.5fr 1fr) minmax(0.2fr, 0.4fr);
  grid-template-areas:
    "score . subreddit . . . . . the-utc"
    "score title title title title title title title title"
    "score title title title title title title title title"
    "score img img img img img img img img"
    "score img img img img img img img img"
    "score img img img img img img img img"
    "score img img img img img img img img"
    "score img img img img img img img img"
    "score comments comments comments comments comments comments . author";
  gap: 10px;
  /* height: 50vh; */
}

.reddit-score {
  grid-area: score;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(248, 249, 250);
}

.reddit-time-utc {
  grid-area: the-utc;
  color: var(--logo-color);
  font-size: 0.8rem;
}

.reddit-subreddit {
  grid-area: subreddit;
  margin-right: 1vw;
  display: flex;
  align-items: center;
}

.reddit-subreddit div {
  width: 18px;
  height: 18px;
  background-color: rgb(248, 249, 250);
  border-radius: 50%;
}

.reddit-subreddit p {
  font-size: 0.9rem;
  font-weight: 700;
}

.reddit-title {
  grid-area: title;
  /* margin-left: 1vw; */
}

.reddit-img-container {
  grid-area: img;
  /* background-color: red; */
  height: 50vh;
  overflow: hidden;
}

.reddit-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: fill;
}

.reddit-img-container img:hover {
  box-shadow: var(--box-shadow-hover);
  border-radius: 0;
  padding: 10px;
}

.reddit-symbol {
  /* grid-area: symbol; */
  background-color: white;
  /* color: white; */
  transform: scale(-1, 1);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
}

.reddit-comments {
  grid-area: comments;
  /* border: 2px solid black; */
  cursor: pointer;
}

.reddit-comments p {
  display: inline-block;
  font-size: 0.8rem;
}

.reddit-author {
  grid-area: author;
  font-size: 0.8rem;
  margin-right: 1vw;
  color: var(--logo-color);
}

/* @media only screen and (max-width: 1020px) {
  .reddit-div {
    width: 60vh;
  }
} */

@media only screen and (max-width: 780px) {
  .reddit-div {
    width: 90vw;
  }
}

@media only screen and (max-width: 700px) {
  /* .reddit-subreddit { */
  /* display: none; */
  /* } */
  /* .reddit-li {
    grid-template-areas:
      "score . . . subreddit . . . the-utc"
      "title title title title title title title title title"
      "title title title title title title title title title"
      "img img img img img img img img img"
      "img img img img img img img img img"
      "img img img img img img img img img"
      "img img img img img img img img img"
      "img img img img img img img img img"
      ". comments comments comments comments comments comments . author";
  } */
}

@media only screen and (max-width: 500px) {
  .reddit-comments p {
    font-size: 0.7rem;
  }
  .reddit-author {
    font-size: 0.6rem;
  }
  .reddit-score {
    font-size: 0.6rem;
  }
}
