@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");

/* Reddit Logo */
.home-nav-div {
  width: 107px;
  height: 51px;
  position: relative;
  top: 7px;
}

.all-links {
  text-decoration: none;
  color: var(--text-color);
}

.home-nav-link {
  position: absolute;
  left: 0vw;
  top: 0vh;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.home-nav-link:hover {
  padding: 10px 5px 0;
  background-color: var(--nice-background-color);
}

.home-nav-link p {
  font-size: 1rem;
}

.fa-reddit {
  color: var(--logo-color);
}

.fontA {
  color: var(--logo-color);
}

/* Button Nav-down */

.button-div-down {
  display: flex;
  width: 30vw;
  position: relative;
}

.button-nav-down {
  flex: 0 5 auto;
  height: 51px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: inherit;
  position: relative;
  left: 1vw;
}

.button-nav-down:hover {
  border: 2.5px solid var(--nice-background-color);
}

.button-nav-down p {
  flex: 0 3 auto;

  display: flex;
  align-items: center;
  gap: 10px;
}

.button-home {
  position: absolute;
  left: 5px;
  top: 10px;
  bottom: 0;
}

.board-clip {
  position: absolute;
  right: 37px;
  bottom: 6px;
  flex: 0 3 auto;
}

.board-clip-arrow {
  position: absolute;
  right: 27px;
  bottom: 6px;
  flex: 0 3 auto;
}

.down-arrow {
  position: absolute;
  right: 10px;
  bottom: 4px;
  flex: 0 3 auto;
}

.div-menu {
  position: absolute;
  background-color: white;
  top: 50px;
  left: 15px;
  right: 0px;
  padding-right: 10px;
  width: 30vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  gap: 10px;
  border-left: 1px solid var(--nice-background-color);
  border-right: 2px solid var(--nice-background-color);
  border-bottom: 1px solid var(--nice-background-color);
  overflow-y: scroll;
}

.input-div-menu {
  width: 80%;
  height: 50px;
  padding-left: 10px;
  margin: 10px 0;
}

.ul-menu {
  width: 100%;
  height: 30vh;
}

.li-menu {
  color: var(--text-color);
  line-height: 2.5;
  font-size: 0.9rem;
}

.li-menu:hover {
  background-color: var(--nice-background-color);
}

.home-span {
  font-size: 1.1rem;
}

/* Search Icon Nav section */

.search-form-wrapper {
  flex: 0 3 50px;
}

.search-icon-wrapper {
  position: relative;
  left: 2vw;
}

.search-icon {
  position: absolute;
  top: 20px;
  left: 0.7vw;
}

.search-input {
  width: 30vw;
  height: 51px;
  padding-left: 30px;
  background-color: var(--nice-background-color);
  border: 2px solid var(--nice-background-color);
  border-radius: 10px;
  font-size: 1.5rem;
}

/* NAVBAR STYLES */

.navbar {
  display: flex;
}

.user-div {
  padding-left: 5px;
  position: relative;
}

.user-button {
  display: flex;
  cursor: pointer !important;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: -2;
  margin: 0 3vw;
}
.user-link-button {
  cursor: not-allowed;
}
.user-button:hover {
  cursor: pointer !important;
}

.user-button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  cursor: pointer !important;
}

.square-logo {
  width: 40px;
  height: 40px;
  color: var(--logo-color) !important;
  cursor: pointer !important;
}

.user-name {
  cursor: pointer !important;
}

.user-down-arrow {
  align-self: flex-end;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger:hover {
  padding: 10px;
}

.burger-form-menu {
  height: 40px !important;
}

.burger-menu-wrapper {
  width: 100%;
  height: 100% !important;
  position: relative;
}

.burger-search-icon {
  position: absolute;
  right: 0;
  top: 12px;
}

.burger-search-input {
  width: 90%;
  height: 40px;
  padding-left: 10px;
  position: absolute;
  left: 0;
}

.small-menu-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  position: fixed;
  top: 80px;
  right: 0;
  background-color: var(--white);
  width: 100%;
  height: 87.5vh;
  overflow-y: scroll;
}

.small-menu-ul li {
  background-color: var(--nice-background-color);
  width: 90vw;
  border-radius: 20px;
  text-align: center;
  line-height: 2;
}

.small-menu-ul li:hover {
  padding: 10px;
}

.fig-fas:hover {
  padding: 10px;
}

.inside-menu-logo {
  align-self: flex-start;
  justify-self: flex-start;
}

@media only screen and (max-width: 1250px) {
  .div-menu {
    left: 12px;
  }
}

@media only screen and (max-width: 1025px) {
  .reddit {
    display: none;
  }
  .div-menu {
    left: 10px;
  }
}

@media only screen and (max-width: 865px) {
  .search-icon-wrapper {
    left: -4vw;
  }
  .button-nav-down {
    display: none;
  }
  .user-name {
    display: none;
  }
  .search-input {
    width: 60vw;
  }
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
    margin: 0 5vw;
  }
  .search-form-wrapper {
    display: none;
  }
  .small-menu-ul {
    height: 93vh;
  }
}

@media only screen and (max-width: 700px) {
  .search-input {
    width: 35vw;
  }
}

@media only screen and (max-width: 680px) {
  .user-button {
    display: none;
    z-index: 2;
  }
  .search-input {
    width: 80vw;
  }
  .li-form-menu-search {
    border-radius: 5px;
  }
  header {
    justify-content: space-between;
    align-items: center;
  }
  .user-div {
    justify-self: flex-end;
    align-self: flex-end;
  }
  .navbar-ul {
    display: none;
  }
  .user-link-button {
    display: none;
  }
  .square-reddit {
    display: none;
  }
  .small-menu-ul {
    height: 79.5vh;
    /* try 79.2 if no good  */
  }
}

@media only screen and (max-width: 540px) {
  .small-menu-ul {
    height: 90vh;
  }
}

@media only screen and (max-width: 376px) and (min-width: 375px) {
  .small-menu-ul {
    height: 88vh;
  }
}

@media only screen and (max-width: 360px) {
  .small-menu-ul {
    height: 89vh;
  }
}

@media only screen and (max-width: 330px) {
  .small-menu-ul {
    height: 87vh;
  }
}

@media only screen and (max-width: 300px) {
  .small-menu-ul {
    height: 89vh;
  }
}
